# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. skikit-learn

| Data Science Tools  |
|---------------------|
| Jupyter Notebook |
| RStudio |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<b> Objectives: </b> 
* List popular data science languages
* List different data science tools
* Understand arithmetics expressions

## Author
Mohammed Adil